.header{
    background-color: black;
    .container{
        display: flex;
    }
}
.navbar-light .navbar-nav .nav-link.colorBlanco{
    color: white;
    }
    .navbar-light .navbar-nav .nav-link.colorRojo{
    color: red;
    }