*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: $tipografia-general;
    background-image: linear-gradient(to bottom, #ffffff, #f0defb, #f2b8e9, #fb8dc5, #ff5d91, #ff5b8f, #ff5a8e, #ff588c, #f786be, #e9aedf, #e3d0ed, #ededed);
}